<div class="review-info">
  <h4>Reviews</h4>
  <p><%= pluralize cocktail.reviews.size, "Review" %></p>

  <% if cocktail.reviews.blank? && cocktail.user != current_user%>
    <p>Be the first one to leave a review</p>
  <% else %>
    <div id="new-review">
      <% cocktail.reviews.each do |review| %>
        <%= render "reviews/show", review: review %>
      <% end %>
    </div>
  <% end %>

  <% unless cocktail.user == current_user %>
    <div class="review-form">
      <p>Leave a review</p>
      <%= render "reviews/form", cocktail: cocktail, review: @review %>
    </div>
  <% end %>
</div>
