<div class="container">

  <h1 class="text-center mb-4"><%= @cocktail.name %></h1>
  <div class="cocktail-info d-flex">
    <% if @cocktail.photo.url.nil? %>
      <div class="cocktail-img" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <% else %>
      <div class="cocktail-img" style="background-image: url(<%= cl_image_path(@cocktail.photo) %>)">
    <% end %>
      </div>
    <%= render 'cocktails/dose', cocktail: @cocktail, dose: @dose %>
  </div>
  <%= render 'cocktails/review', cocktail: @cocktail %>
</div>
