.dose-list{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 100%;
  margin: 0 12px;
}

.cocktail-info{
  margin-bottom: 12px;
}

.dose-form{
  width: 40%;
}
.dose-items{
  a{
    visibility: hidden;
    margin-left: 12px;
    color: rgba(250, 250, 250, 0.7);
  }
}

.dose-items:hover{
  a{
    visibility: visible;
    // color: inherit;
  }
}


