.dose-list{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 12px;
}

.cocktail-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 12px;
}

.dose-items{
  a{
    visibility: hidden;
    margin-left: 12px;
    color: rgba(250, 250, 250, 0.7);
  }
}

.dose-items:hover{
  a{
    visibility: visible;
    // color: inherit;
  }
}

.cocktail-description{
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 12px;
}



@media (min-width: 100px) and (max-width: 575px) {
  .cocktail-info{
    display: grid;
    grid-template-columns: 1fr;
  }
  .cocktail-img{
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cocktail-info{
    display: grid;
    grid-template-columns: 1fr;
  }
  .cocktail-img{
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cocktail-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 12px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cocktail-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 12px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cocktail-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 12px;
  }
}
