.dose-list{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 100%;
  margin: 0 12px;
}

.cocktail-info{
  margin-bottom: 12px;
}

.dose-form{
  width: 40%;
}

.dose-items{
  color: white;
  a{
    text-decoration: none;
    color: inherit;
    visibility: hidden;
  }
}

.dose-items:hover{
  a{
    visibility: visible;
  }
}
