.profile-info{
  height: 60%;
  width: 100%;
}
.profile-description{
  display: flex;
  align-items:center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  margin-bottom: 0px;
  height: 40vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  p{
    margin: 0px auto;
  }
}

.profile-cocktails{
  margin-top: 12px;
  color: white;
  font-family: 'Oswald', sans-serif;
  p{
    font-size: 40px;
    border-bottom: solid 2px white;
  }
}
.user-avatar{
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .profile-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .profile-description{
    margin-top: 12px;
  }
}
.user-avatar{
  margin-right: 0px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .profile-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .profile-description{
    margin-top: 12px;
  }
  .user-avatar{
    margin-right: 0px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .profile-info{
    flex-direction: row;
  }
  .user-avatar{
    margin-right: 12px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .profile-info{
    flex-direction: row;
  }
  .user-avatar{
  margin-right: 12px;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .profile-info{
    flex-direction: row;
  }
  .user-avatar{
  margin-right: 12px;
  }
}

