.review-list{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 100%;
  margin-bottom: 4px;
}
.review-info{
  margin-top: 28px;
  h4{
    margin-top: 12px;
    font-size: 40px;
    border-bottom: solid 2px white;
  }
}
.review-form{
  margin-top: 28px;
  p{
    margin-bottom: 0px;
  }
}
