.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.user-avatar{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-review{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.card-user{
  position: absolute;
  top: -13px;
  left: -8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  object-fit: cover;
}
