.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link{
  padding: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar{
  box-shadow: 0px -30px 95px rgba(255, 244, 38, 0.3);
}

.nav-item{
  display: flex;
  align-items: center;
}
